/* .container-fluid{
  background-color: #D5D8B5;
 padding-left: 15px;
 margin-left: 0px;
} */
.firstblock{
background-color: #EEEEEE;
opacity: 100px;
padding-left: 50px;
padding-top: 50px;
}


.img{
  border-radius: 50%;
  height: 80px;
}
.h1{
   font-family: Georgia, serif;
   font-size: 2rem;
   font-weight: bold;
}
.circle-wrap {
  width: 80px;
  height: 80px;
  background: #00FFAB;
  border-radius: 50%;
  border: 1px solid #cdcbd0;
}
.circle-wrap .inside-circle {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background: #D5D8B5;
  line-height: 50px;
  text-align: center;
  margin-top: 14px;
  margin-left: 14px;
  color: #1e51dc;
  position: absolute;
  z-index: 100;
  font-weight: 500;
  font-size: 1.5em;
}
